body{
	background-color: silver;
}
h1{
	text-align: center;
	font-family: georgia;
	margin-bottom: 65px;
	margin-top: 10px;
}
.row{
	width: 100%;
}
.h3{
	position: absolute;
	top: 0px;
	right: 0px;
}
h3{
	border:1px solid black;
	border-width: 2px;
	margin-top: 0px;
	background-color: #001052;
	color: white;
	padding-right: 30px;
	padding-left: 30px;
}
#h31{
	background-color: brown;
}
#h32{
	background-color: #2F4F4F;
}
section{
	border: 1px solid black;
	border-width: 2px;
	margin-bottom: 10px;
	background-color: tomato;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	font-family: trebuchet ms,gorgia,arial;
}
.divp{
	padding-top: 10px;
	padding-bottom: 0px;
	margin:0px;
	clear: both;
}
* {
  box-sizing: border-box;
}
.row{
	width: 100%;
	margin: auto;
}

@media(min-width: 992px)
{
	.col1, .col2, .col3{
	float: left;
	width: 33.33%;
	padding: 10px;
	}
}

@media(min-width: 768px)and (max-width: 992px){
	.col1, .col2{
	float: left;
	width: 50%;
	padding: 10px;
	}
	.col3{
	float: left;
	width: 100%;
	padding: 10px;
	}
}

@media(max-width: 767px){
	.col1, .col2, .col3{
	float: left;
	width: 100%;
	padding: 10px;
	}
}